.form-container{
    background-color:white;
    width: 430px;
    height: 450px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 9px;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 30px;
} 
.form-fields{
    padding-left: 50px;
}
.form-input{
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid gray;
}
.register-btn{
    width: 310px ;
    height: 35px;
    /* margin-left: 43px; */
    margin-top: 10px;
    background-color: rgb(255, 196, 35);
    border: none;
    font-weight: 500;
    cursor: pointer;
}
h3{
    padding-top: 20px;
}
.bg-color{
    background-color: rgba(255, 239, 213, 0.801);
}